@font-face {
  font-family: "Exo2";
  src: url("../assets/fonts/Exo2-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "TrebuchetMS";
  src: url("../assets/fonts/TrebuchetMS.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "TrebuchetMS";
  src: url("../assets/fonts/TrebuchetMS-Bold.ttf") format("truetype");
  font-weight: 700;
}
