// COLORS
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey-dark: #666666;
$color-grey-mid: #B3B3B3;
$color-grey-light: #F2F2F2;
$color-blue: #1698D9;
$color-pink: #D91667;
$color-yellow: #FFFF66;

